<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Civilian {{userId}}</title>
		<link href="https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css" rel="stylesheet" />
	</head>
	<body data-userId="{{userId}}">
		<h1>Hello Civilian {{ userId }}</h1>

		<h4 id="notification">
			
		</h4>

		<button onClick="requestForHelp()">
			Request For Help
		</button>

		<div id="map"></div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		
		<script type="text/javascript">
			const socket = io();
			socket.on("connect", ()=>{
				console.log(socket.id, "Logging client id", socket.rooms);
			});
			// Fetch userId from data-attribute of the body tag
			const userId = document.body.getAttribute("data-userId");

			// Fire a 'join' event and send your userId to the server, to join a room - room-name will be the userId!
			socket.emit("join", {userId, userType: "Civilian"});

			socket.on("request-accepted", (eventData) => {
				copDetails = eventData;

				document.getElementById("notification").innerHTML = `${copDetails.displayName} is near ${copDetails.location.address} and will be arriving at your location shortly. You can reach them at their mobile ${copDetails.phone}`;
			});

			// Declare variables, this will be used later
			let requestDetails = {
				civilianId: userId,
				location: {
					address: "Indiranagar, Bengaluru, Karnataka, India",
					latitude: 12.9718915,
					longitude: 77.64115449999997
				}
			};
			let copDetails = {};
			let map, marker;

			function requestForHelp(){
				console.log("Requesting Help");
				socket.emit("request-for-help", requestDetails);
			}
		</script>
	</body>
</html>
