<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Civilian {{userId}}</title>
	</head>
	<body data-userId="{{userId}}">
		<h1>Hello Civilian {{ userId }}</h1>

		<h4 id="notification">
			
		</h4>

		<div id="map"></div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script type="text/javascript">
			const socket = io();

			// Fetch userId from data-attribute of the body tag
			const userId = document.body.getAttribute("data-userId");

			// Fire a 'join' event and send your userId to the server, to join a room - room-name will be the userId!
			socket.emit("join", {userId, userType: "Civilian"});

			// Declare variables, this will be used later
			let requestDetails = {};
			let copDetails = {};
			let map, marker;
		</script>
	</body>
</html>
